@using CC1101.NET.Interfaces
@* @inject ICC1101 cc1101 *@

@inherits SesamNeat.Blazor.Components.Base.BaseComponent

@rendermode InteractiveServer

<div class="@Classes" @attributes="Attributes">
    <input @onchange="OnDeviceAddressChanged" id="txtDeviceAddress" class="form-control form-control-sm @(_deviceAddressError ? "is-invalid" : string.Empty)" type="text" placeholder="Device address (0-255)" value="@_address">
    <div class="invalid-feedback">
        Please provide a valid device address.
    </div>
</div>

@code
{
    private byte _address = Application.InitialDeviceAddress;
    private bool _deviceAddressError;

    private void OnDeviceAddressChanged(ChangeEventArgs args)
    {
        if (!byte.TryParse(args.Value as string, out var address))
        {
            _deviceAddressError = true;
            return;
        }

        _address = address;
        _deviceAddressError = false;
        // cc1101.DeviceAddress = _address;
    }
}