@using SesamNeat.Blazor.Components.Enums
@using System.Diagnostics
@inherits SesamNeat.Blazor.Components.Base.BaseComponent

<button class="btn @Classes" @attributes="Attributes">
    @if (!string.IsNullOrWhiteSpace(FAIcon))
    {
        <i class="fas @GetCurrentFAStyle() @FAIcon mx-2"></i>
    }

    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</button>

@code {
    [Parameter] public string? FAIcon { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public FAStyle? Style { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string GetCurrentFAStyle() => Style switch
    {
        FAStyle.Solid => "fa-solid",
        FAStyle.Regular => "fa-regular",
        _ => "fa-regular"
    };

}