@inherits SesamNeat.Blazor.Components.Base.BaseComponent

<div class="d-flex flex-md-column @Classes" @attributes="Attributes">
    <h3>Package Monitor</h3>
    <textarea readonly="readonly" class="flex-fill w-100"></textarea>
</div>
@code {
    
}