@inherits SesamNeat.Blazor.Components.Base.BaseComponent

<div class="rf-commands @Classes" @attributes="Attributes">
    <h3>RFCommands</h3>
    <div>
        <button class="btn btn-dark">test</button>
        <button class="btn btn-dark">test2</button>
        <button class="btn btn-dark">test3</button>
        <div class="d-inline float-end">
            <input type="text"/>
            <button class="btn btn-dark">Send payload</button>
        </div>
    </div>
</div>

@code {

}